/* Frontend Styles */
/* Base */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

form {
  color: #4c4c4c;
}
form p {
  font-size: 1em;
  margin-bottom: 1rem;
}
form label {
  margin: 0;
  width: 100%;
  text-transform: uppercase;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 3px solid #adadad;
  border-radius: 0;
  background-clip: padding-box;
  box-sizing: border-box;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
  color: #459140;
  border-color: #459140;
  outline: none;
}

input[type=submit] {
  display: block;
  padding: 7px 25px;
  text-transform: uppercase;
  border: 2px solid #459140;
  border-radius: 0;
  font-weight: 600;
  color: #459140;
  background: #ffffff;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus {
  color: #ffffff;
  background: #459140;
}

textarea {
  max-height: 100px;
}

select {
  position: relative;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  background-image: url("../../svg/dropdown-arrow.svg");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  /* IE11 hide native button */
}
select::-ms-expand {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  border: none;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: #000000;
  border: none;
  border-bottom: 3px solid #adadad;
  border-radius: 0;
}

::placeholder {
  color: #adadad;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #adadad;
}

::-ms-input-placeholder {
  color: #adadad;
}

/* Layout */
#header {
  position: absolute;
  width: 100%;
  border-bottom: 3px solid #d8fed9;
  z-index: 1080;
}
#header.sticky {
  position: relative;
}
#header.sticky .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer {
  background-color: #459140;
}

.footer-widgets {
  padding: 30px 0;
}
.footer-widgets .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  text-align: center;
}
@media (min-width: 992px) {
  .footer-widgets .container {
    flex-direction: row;
    text-align: initial;
  }
}
@media (min-width: 992px) {
  .footer-widgets .widget-column {
    width: 25%;
  }
}
.footer-widgets .widget {
  color: #ffffff;
}
.footer-widgets .widget ul {
  list-style: none;
  padding: 0;
}
@media (min-width: 992px) {
  .footer-widgets .widget ul {
    padding: initial;
  }
}
.footer-widgets .widget .widget-title {
  margin-bottom: 30px;
  color: #ffffff;
}
.footer-widgets .widget_block h1,
.footer-widgets .widget_block h2,
.footer-widgets .widget_block h3,
.footer-widgets .widget_block h4,
.footer-widgets .widget_block h5,
.footer-widgets .widget_block h6 {
  margin-bottom: 30px;
}
.footer-widgets .wp-block-media-text {
  gap: 0.5rem;
}
@media (min-width: 992px) {
  .footer-widgets .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
    justify-content: flex-start;
  }
}
@media (max-width: 991.98px) {
  .footer-widgets .wp-block-social-links {
    justify-content: center;
  }
}

.footnote {
  font-size: 0.6688rem;
  text-transform: uppercase;
  color: #ffffff;
}
@media (min-width: 992px) {
  .footnote .container > * {
    max-width: 90%;
  }
}

.footer-copyright {
  font-size: 14px;
  color: #ffffff;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  background-color: #2c5c29;
}
.footer-copyright .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

/* Components */
.navbar {
  transition: 0.3s;
}
@media (min-width: 992px) {
  .navbar {
    padding: 0;
  }
}

.navbar-nav .dropdown-menu {
  flex-direction: column;
  padding: 0;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    margin-top: 18px !important;
  }
}
.navbar-nav .dropdown-menu .nav-item {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid transparent;
}
.navbar-nav .nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 992px) {
  .navbar-nav .nav-item {
    min-height: 90px;
  }
}
.navbar-nav .nav-item::after {
  content: "";
  width: 0;
  right: 0;
  transition: width 0.5s ease 0s, right 0.5s ease 0s;
}
.navbar-nav .nav-item:hover::after, .navbar-nav .nav-item:active::after, .navbar-nav .nav-item:focus::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #459140;
}
.navbar-nav .nav-item:hover .nav-link, .navbar-nav .nav-item:active .nav-link, .navbar-nav .nav-item:focus .nav-link {
  text-decoration: none;
}
.navbar-nav .nav-link {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-top: 0;
    padding-right: 1rem !important;
    padding-bottom: 0;
    padding-left: 1rem !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #4c4c4c;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link:focus {
  color: #4c4c4c;
}

.recent-blog-posts {
  display: grid;
  grid-column-gap: 30px;
}
@media (min-width: 576px) {
  .recent-blog-posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog .post,
.blog .page {
  border-bottom: 1px solid #ffffff;
}

.blog-sidebar .widget {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post .entry-header > *:not(.alignwide):not(.alignfull),
.post .entry-content > *:not(.alignwide):not(.alignfull) {
  padding-left: 0;
  padding-right: 0;
}

.post-thumbnail {
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: unset;
  transition: all 0.3s ease;
}
.post-thumbnail figure {
  position: relative;
  margin: 0;
  z-index: -1;
}
.post-thumbnail img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.post-thumbnail:hover img, .post-thumbnail:active img, .post-thumbnail:focus img {
  transform: scale(1.15);
}

.read-more-link {
  font-weight: bold;
  border: 1px solid #459140;
  border-radius: 0;
  color: #459140;
  background: #ffffff;
}
.read-more-link:hover, .read-more-link:active, .read-more-link:focus {
  color: #ffffff;
  background: #459140;
  text-decoration: none;
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
  width: 100% !important;
}
.wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.entry-header > *:not(.alignwide):not(.alignfull),
.entry-content > *:not(.alignwide):not(.alignfull) {
    max-width: 1320px;
  }
}
.wp-block-cover__inner-container .alignfull,
.entry-header .alignfull,
.entry-content .alignfull {
  max-width: 100%;
}
.wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(540px + 10%);
  }
}
@media (min-width: 768px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(720px + 10%);
  }
}
@media (min-width: 992px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(960px + 10%);
  }
}
@media (min-width: 1200px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(1140px + 10%);
  }
}
@media (min-width: 1400px) {
  .wp-block-cover__inner-container .alignwide,
.entry-header .alignwide,
.entry-content .alignwide {
    max-width: calc(1320px + 10%);
  }
}

.search-form .search-submit {
  font-weight: bold;
  border: none;
  border-radius: 0;
  border: 1px solid #459140;
  color: #459140;
  background: #ffffff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-form .search-submit:hover, .search-form .search-submit:active, .search-form .search-submit:focus {
  color: #ffffff;
  background: #459140;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.widget img {
  max-width: 100%;
  height: auto;
  border: none !important;
}
.widget ul {
  padding: 0;
  padding-inline-start: 1em;
}
.widget li {
  margin-bottom: 12px;
}
.widget .gallery-item {
  margin-top: 8px !important;
  margin-bottom: 8px;
}

.widget-title {
  font-size: 1.4rem;
}

.tagcloud {
  text-align: center;
}
@media (min-width: 576px) {
  .tagcloud {
    text-align: inherit;
  }
}
.tagcloud .tag-cloud-link {
  display: inline-block;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 1em !important;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.25em;
  color: #459140;
  background: #ffffff;
}
.tagcloud .tag-cloud-link:hover, .tagcloud .tag-cloud-link:active, .tagcloud .tag-cloud-link:focus {
  color: #ffffff;
  background: #459140;
}

.pagination .nav-links,
.post-navigation .nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  font-size: 1.2rem;
}
.pagination .nav-links > *,
.post-navigation .nav-links > * {
  padding: 1rem;
}

.pagination .current {
  color: #459140;
}

.comments .comment-list {
  padding: 0;
}
.comments .comment-list,
.comments .children {
  list-style: none;
}
.comments .comment-body {
  padding: 15px;
  margin-bottom: 1rem;
  border-radius: 0.25em;
}
.comments .comment-form label {
  font-weight: bold;
  margin-bottom: 8px;
}
.comments .comment-reply-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #459140;
  border-radius: 0;
  color: #459140;
  background-color: #ffffff;
}
.comments .comment-reply-link:hover {
  color: #ffffff;
  background-color: #459140;
  text-decoration: none;
}
.comments .reply {
  height: auto;
}

/* Select2 */
.select2-container .select2-selection--single {
  height: 2.5rem;
  border-radius: 0;
  border: 1px solid #adadad;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 2.5rem;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
}

/* Select Input Wrapper */
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "\f078";
  position: absolute;
  top: 50%;
  right: 0.8rem;
  height: 1rem;
  font: normal normal normal 1rem/1 FontAwesome;
  color: #adadad;
  transform: translateY(-50%);
  pointer-events: none;
}
.select-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.whatsapp-flag {
  position: fixed;
  top: 80%;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  max-width: 200px;
  padding: 1rem 0.8rem;
  font-size: 0.875rem;
  line-height: 1.2rem;
  text-decoration: none;
  border: none;
  border-radius: 0;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 999;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.whatsapp-flag:hover, .whatsapp-flag:active {
  text-decoration: none;
}
.whatsapp-flag:hover, .whatsapp-flag:active, .whatsapp-flag:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.whatsapp-flag.fade-in {
  opacity: 1;
}
.whatsapp-flag span:first-of-type {
  display: none;
}
@media (min-width: 992px) {
  .whatsapp-flag span:first-of-type {
    display: initial;
  }
  .whatsapp-flag span + span {
    display: none;
  }
}
.whatsapp-flag i {
  display: block;
  font-size: 1.8rem;
  color: #459140;
}
@media (min-width: 992px) {
  .whatsapp-flag i {
    font-size: 3.5rem;
  }
}

/* Templates */
.blog > .container,
.single > .container,
.archive > .container {
  padding-top: 150px;
}

.error404 .error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #73ac6f;
}
.error404 .error-message > span {
  font-family: "Oswald", sans-serif;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1;
}
@media (min-width: 992px) {
  .error404 .error-message > span {
    font-size: 16rem;
  }
}
.error404 .error-message .page-title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.error404 .error-message > p {
  font-size: 2em;
}
.error404 .error-message > a {
  display: inline-block;
  padding: 7px 25px;
  text-transform: uppercase;
  border: 2px solid #459140;
  border-radius: 0;
  font-weight: 600;
  color: #459140;
  background: #ffffff;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.error404 .error-message > a:hover, .error404 .error-message > a:active, .error404 .error-message > a:focus {
  color: #ffffff;
  background: #459140;
}

/*# sourceMappingURL=frontend-styles.css.map */
