// Entrys
.entry-header {
	.entry-title {
	}
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
	width: 100% !important;

	& > *:not(.alignwide):not(.alignfull) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) {
			max-width: 540px;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			max-width: 720px;
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			max-width: 960px;
		}

		// X-Large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			max-width: 1140px;
		}

		// XX-Large devices (larger desktops, 1400px and up)
		@media (min-width: 1400px) {
			max-width: 1320px;
		}
	}

	.alignfull {
		max-width: 100%;
	}

	.alignwide {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Small devices (landscape phones, 576px and up)
		@media (min-width: 576px) {
			max-width: calc(540px + 10%);
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			max-width: calc(720px + 10%);
		}

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			max-width: calc(960px + 10%);
		}

		// X-Large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			max-width: calc(1140px + 10%);
		}

		// XX-Large devices (larger desktops, 1400px and up)
		@media (min-width: 1400px) {
			max-width: calc(1320px + 10%);
		}
	}
}

.entry-footer {
}
