// Navbar

.navbar {
	transition: 0.3s;

	@media (min-width: 992px) {
		padding: 0;
	}
}

.navbar-collapse {
	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) {
		// background: unset;
	}
}

.navbar-nav {
	.dropdown-menu {
		flex-direction: column;
		padding: 0;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.8rem;

		@media (min-width: 992px) {
			margin-top: 18px !important;
		}

		.nav-item {
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
			border-bottom: 1px solid transparent;
		}
	}

	.nav-item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;

		@media (min-width: 992px) {
			min-height: 90px;
		}

		&::after {
			content: "";
			width: 0;
			right: 0;
			transition: width 0.5s ease 0s, right 0.5s ease 0s;
		}

		&:hover,
		&:active,
		&:focus {
			&::after {
				content: "";
				position: absolute;
				bottom: -3px;
				right: 0;
				width: 100%;
				height: 3px;
				background-color: $menu-link-hover;
			}

			.nav-link {
				text-decoration: none;
			}
		}
	}

	.nav-link {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		width: 100%;

		padding-top: 1rem;
		padding-bottom: 1rem;

		text-transform: uppercase;
		font-size: 0.8rem;

		@media (min-width: 992px) {
			padding-top: 0;
			padding-right: 1rem !important;
			padding-bottom: 0;
			padding-left: 1rem !important;
		}
	}
}

.navbar-light {
	.navbar-nav {
		.nav-link {
			color: $menu-link;

			&:hover,
			&:active,
			&:focus {
				color: $menu-link;
			}
		}
	}
}
