// Post

.post {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.entry-header,
	.entry-content {
		& > *:not(.alignwide):not(.alignfull) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.post-thumbnail {
	display: block;
	margin-bottom: 15px;
	overflow: hidden;
	box-shadow: unset;
	transition: all 0.3s ease;

	figure {
		position: relative;
		margin: 0;
		z-index: -1;
	}

	img {
		transform: scale(1);
		transition: all 0.3s ease;
	}

	&:hover,
	&:active,
	&:focus {
		img {
			transform: scale(1.15);
		}
	}
}

.read-more-link {
	font-weight: bold;
	border: 1px solid $button-border;
	border-radius: 0;
	color: $button-text;
	background: $button-bg;

	&:hover,
	&:active,
	&:focus {
		color: $button-text-hover;
		background: $button-bg-hover;
		text-decoration: none;
	}
}
