// Recent Blog Posts

.recent-blog-posts {
	display: grid;
	grid-column-gap: 30px;
	// padding-left: 15px;
	// padding-right: 15px;

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
