.whatsapp-flag {
	position: fixed;
	top: 80%;
	right: 0;

	display: flex;
	align-items: center;
	gap: 0.75rem;

	max-width: 200px;

	padding: 1rem 0.8rem;

	font-size: 0.875rem;
	line-height: 1.2rem;
	text-decoration: none;

	border: none;
	border-radius: 0;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;

	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	z-index: 999;

	opacity: 0;
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

	&:hover,
	&:active {
		text-decoration: none;
	}

	&:hover,
	&:active,
	&:focus {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	&.fade-in {
		opacity: 1;
	}

	span {
		&:first-of-type {
			display: none;
		}

		@media (min-width: 992px) {
			&:first-of-type {
				display: initial;
			}

			+ span {
				display: none;
			}
		}
	}

	i {
		display: block;
		font-size: 1.8rem;
		color: $may-green;

		@media (min-width: 992px) {
			font-size: 3.5rem;
		}
	}
}
