// Footer
.footer {
	background-color: $may-green;
}

.footer-widgets {
	padding: 30px 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2.5rem;

		text-align: center;

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	.widget-column {
		@media (min-width: 992px) {
			width: 25%;
		}
	}

	.widget {
		color: $white;

		ul {
			list-style: none;
			padding: 0;

			// Large devices (desktops, 992px and up)
			@media (min-width: 992px) {
				padding: initial;
			}
		}

		.widget-title {
			margin-bottom: 30px;
			color: $white;
		}
	}

	.widget_block {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 30px;
		}
	}

	.wp-block-media-text {
		gap: 0.5rem;

		@media (min-width: 992px) {
			&.is-stacked-on-mobile {
				.wp-block-media-text__media {
					justify-content: flex-start;
				}
			}
		}
	}

	.wp-block-social-links {
		@media (max-width: 991.98px) {
			justify-content: center;
		}
	}
}

.footnote {
	font-size: 0.6688rem;
	text-transform: uppercase;
	color: $white;

	.container {
		@media (min-width: 992px) {
			& > * {
				max-width: 90%;
			}
		}
	}
}

.footer-copyright {
	font-size: 14px;
	color: $white;
	border-top: 3px solid rgba($white, 0.1);
	border-bottom: 3px solid rgba($white, 0.1);
	background-color: $hunter-green;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 15px 0;
	}
}
