// Header

#header {
	position: absolute;
	width: 100%;
	border-bottom: 3px solid $nyanza;
	z-index: 1080;

	&.sticky {
		position: relative;

		.navbar {
			position: fixed;
			top: 0;
			width: 100%;
		}
	}
}
