// Columns with Images in Black and White until Mouse Hover

.is-style-bw-hover-columns {
	.wp-block-column {
		padding: 0.75rem;
		border-width: 1px;
		border-style: solid;
		border-color: transparent;

		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

		img {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
		}

		&:hover,
		&:focus,
		&:active {
			border-color: rgba(#459140, 20%);

			img {
				-webkit-filter: none;
				filter: none;
			}
		}
	}
}
