// Types

body {
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height: 1.8;
	color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-weight: 200;
}

strong {
	font-weight: 600;
}
