// Block Media and Text

.wp-block-media-text {
	margin-top: 15px;
	margin-bottom: 15px;
	gap: 0.5rem;

	img {
		width: unset;
		max-width: 100%;
		height: auto;
	}

	&.is-image-fill {
		.wp-block-media-text__media {
			@media (min-width: 992px) {
				min-height: 450px;
			}
		}
	}

	.wp-block-media-text__content {
		padding: 0;

		*:last-child {
			margin-bottom: 0;
		}
	}

	&.is-stacked-on-mobile {
		@media (max-width: 767.98px) {
			margin-top: 8%;
			margin-bottom: 8%;
		}

		.wp-block-media-text__media {
			display: flex;
			justify-content: center;
		}
	}
}
