// Buttons

// Button alignment correction
.wp-block-buttons.alignright {
	text-align: right;

	.wp-block-button {
		margin-right: unset;
	}
}

.wp-block-button__link {
	font-weight: 600;
	border-radius: 0;

	&:hover {
		text-decoration: none;
	}
}
