// Block Cover

.wp-block-cover,
.wp-block-cover-image {
	padding-top: 0;
	padding-bottom: 0;

	@media (max-width: 575.98px) {
		&__inner-container {
			& > *:not(.alignwide):not(.alignfull) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}
