// 404 Error Page

.error404 {
	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		text-align: center;
		color: $asparagus;

		& > span {
			font-family: "Oswald", sans-serif;
			font-size: 8rem;
			font-weight: bold;
			line-height: 1;

			@media (min-width: 992px) {
				font-size: 16rem;
			}
		}

		.page-title {
			margin-bottom: 2rem;
			text-transform: uppercase;
			font-weight: bold;
		}

		& > p {
			font-size: 2em;
		}

		& > a {
			display: inline-block;
			padding: 7px 25px;
			text-transform: uppercase;
			border: 2px solid $button-border;
			border-radius: 0;
			font-weight: 600;
			color: $button-text;
			background: $button-bg;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
				box-shadow 0.15s ease-in-out;

			&:hover,
			&:active,
			&:focus {
				color: $button-text-hover;
				background: $button-bg-hover;
			}
		}
	}
}
