// Color Pallete

$input-placeholder: #adadad;
$input-border: #adadad;
$input-focus: #459140;
$input-border-focus: #459140;

$button-text: #459140;
$button-text-hover: #ffffff;
$button-border: #459140;
$button-bg: #ffffff;
$button-bg-hover: #459140;

$menu-link: #4c4c4c;
$menu-link-hover: #459140;

$white: #ffffff;
$cultured: #f7f8f9;
$nyanza: #d8fed9;
$asparagus: #73ac6f;
$may-green: #459140;
$hunter-green: #2c5c29;
$silver-chalice: #adadad;
$davys-grey: #4c4c4c;
$eerie-black: #262626;
$black: #000000;
