/* Shared Styles */
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
  font-weight: 200;
}

strong {
  font-weight: 600;
}

@media (min-width: 576px) {
  .wp-block {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .wp-block {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .wp-block {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .wp-block {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .wp-block {
    max-width: 1320px;
  }
}

@media (min-width: 576px) {
  .wp-block[data-align=wide] {
    max-width: calc(540px + 10%);
  }
}
@media (min-width: 768px) {
  .wp-block[data-align=wide] {
    max-width: calc(720px + 10%);
  }
}
@media (min-width: 992px) {
  .wp-block[data-align=wide] {
    max-width: calc(960px + 10%);
  }
}
@media (min-width: 1200px) {
  .wp-block[data-align=wide] {
    max-width: calc(1140px + 10%);
  }
}
@media (min-width: 1400px) {
  .wp-block[data-align=wide] {
    max-width: calc(1320px + 10%);
  }
}

.wp-block[data-align=full] {
  max-width: none;
}

@media (max-width: 767.98px) {
  .wp-block-gallery .blocks-gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .wp-block-gallery .blocks-gallery-grid .blocks-gallery-item {
    margin: 0;
    width: 100%;
  }
}

.wp-block-group *:last-child {
  margin-bottom: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  padding-top: 0;
  padding-bottom: 0;
}
@media (max-width: 575.98px) {
  .wp-block-cover__inner-container > *:not(.alignwide):not(.alignfull),
.wp-block-cover-image__inner-container > *:not(.alignwide):not(.alignfull) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wp-block-columns {
  margin-bottom: 0;
}

.wp-block-quote {
  border-color: #fff;
}

.wp-block-buttons.alignright {
  text-align: right;
}
.wp-block-buttons.alignright .wp-block-button {
  margin-right: unset;
}

.wp-block-button__link {
  font-weight: 600;
  border-radius: 0;
}
.wp-block-button__link:hover {
  text-decoration: none;
}

.wp-block-image {
  margin-bottom: 0;
}
.wp-block-image img {
  max-width: 100%;
  height: auto;
}

.wp-block-separator {
  border-bottom: 2px solid;
  opacity: 1;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: 40px !important;
}

.wp-block-media-text {
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 0.5rem;
}
.wp-block-media-text img {
  width: unset;
  max-width: 100%;
  height: auto;
}
@media (min-width: 992px) {
  .wp-block-media-text.is-image-fill .wp-block-media-text__media {
    min-height: 450px;
  }
}
.wp-block-media-text .wp-block-media-text__content {
  padding: 0;
}
.wp-block-media-text .wp-block-media-text__content *:last-child {
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .wp-block-media-text.is-stacked-on-mobile {
    margin-top: 8%;
    margin-bottom: 8%;
  }
}
.wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
  display: flex;
  justify-content: center;
}

.wp-block-social-links .wp-social-link {
  margin: 0 !important;
  padding: 0 !important;
}
.wp-block-social-links .wp-social-link svg {
  width: 2rem;
  height: 2rem;
}

.has-small-font-size {
  font-size: 12px;
}

.has-normal-font-size {
  font-size: 16px;
}

.has-medium-font-size {
  font-size: 20px;
}

.has-big-font-size {
  font-size: 32px;
}

.has-huge-font-size {
  font-size: 48px;
}

@media (max-width: 767.98px) {
  .has-huge-font-size {
    font-size: 48px;
  }
}

.has-white-color {
  color: #ffffff !important;
}

.has-white-background-color {
  background-color: #ffffff !important;
}

.has-cultured-color {
  color: #f7f8f9 !important;
}

.has-cultured-background-color {
  background-color: #f7f8f9 !important;
}

.has-nyanza-color {
  color: #d8fed9 !important;
}

.has-nyanza-background-color {
  background-color: #d8fed9 !important;
}

.has-may-green-color {
  color: #459140 !important;
}

.has-may-green-background-color {
  background-color: #459140 !important;
}

.has-hunter-green-color {
  color: #2c5c29 !important;
}

.has-hunter-green-background-color {
  background-color: #2c5c29 !important;
}

.has-silver-chalice-color {
  color: #adadad !important;
}

.has-silver-chalice-background-color {
  background-color: #adadad !important;
}

.has-davys-grey-color {
  color: #4c4c4c !important;
}

.has-davys-grey-background-color {
  background-color: #4c4c4c !important;
}

.has-eerie-black-color {
  color: #262626 !important;
}

.has-eerie-black-background-color {
  background-color: #262626 !important;
}

.has-black-color {
  color: #000000 !important;
}

.has-black-background-color {
  background-color: #000000 !important;
}

.is-style-bw-hover-columns .wp-block-column {
  padding: 0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.is-style-bw-hover-columns .wp-block-column img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.is-style-bw-hover-columns .wp-block-column:hover, .is-style-bw-hover-columns .wp-block-column:focus, .is-style-bw-hover-columns .wp-block-column:active {
  border-color: rgba(69, 145, 64, 0.2);
}
.is-style-bw-hover-columns .wp-block-column:hover img, .is-style-bw-hover-columns .wp-block-column:focus img, .is-style-bw-hover-columns .wp-block-column:active img {
  -webkit-filter: none;
  filter: none;
}

/*# sourceMappingURL=shared-styles.css.map */
